

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  --uv-green: rgba(40, 173, 86);
  --uv-green-hover: rgb(32, 143, 71);
  --hover: rgba(26, 26, 26, 0.068);
  --selected: rgba(40, 173, 86, 0.1);
  --bg-main: white;
  --error: red;
  --bg-unfocused: rgba(0, 0, 0, 0.5);
  --bg-hovered: rgba(255, 255, 255, 0.5);
  --disabled: rgba(129, 129, 129, 0.63);
}
  

#root{
  
}

.specie-view{
  flex: 2;

  display: flex;
  flex-direction: column;
  width: 10%;
  max-height: 100%;
  /*overflow: scroll;*/
}



.specie {
  /*
  background-color: white;
  */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding:  10px 50px;
  margin: 0 20px;;
}
.specie-header{
  padding: 0.5em 1em 0.7em 2em;
  font-size: 1.4rem;
  margin: 0 0px;;
}
.specie-actions{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.5rem;
  padding-top: 30px;
  font-size: 0.7em;
}

.selectable{
  /*
  background-color: var(--bg-main);
  */
  transition: background-color 0.05s;
  transition: border 0.5s;
  border-radius: 10px;

  /*
  border: 1px solid white;
  */
}

.selectable:hover {
  background-color: rgba(40, 173, 86, 0.1);
  cursor: pointer;
  transition: background-color 0.05s;
  transition: border 0.5s;
}

.selected {
  background-color: var(--selected);
}


main{
  /*
  background-color: white;
  */
  
  flex: 1;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  border: 4px solid red;
  
}

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*width: 100%;*/
}

.bold{
  font-weight: 500;
  font-family: inherit;
}

.specie-list{
  width: 20%;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}


.caption{
  font-size: 0.7em;
}

.icon{
  size: 1px;
}

.sam-button{
  text-transform: uppercase;
  padding: 3px 20px;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: background-color 0.3s;
}
.sam-button.primary{
  background-color: var(--uv-green);
}
.sam-button.primary:hover{
  background-color: var(--uv-green-hover);
}
.sam-button.secondary{
  color: black;
  background-color: gainsboro;
}
.sam-button.secondary:hover{
  background-color: rgb(181, 191, 201);
}
.sam-button.disabled{
  background-color: var(--disabled);
  cursor: not-allowed;
}
.sam-button.disabled:hover{
  background-color: var(--disabled);
  cursor: not-allowed;
}

.action-bar{
  display: flex;
  padding: 0.3em 50px;
  justify-content: space-between;
  background-color: green;
}
.specimens-actions > div:first-child{
  display: flex;
  gap: 10px
}

.table-wrapper{
  /*
  background-color: rgb(240, 240, 240);
  */
  overflow: auto;

}
table{
  width: 100%;
  overflow: scroll;
}

.tr {
  display: flex;
}

tr,
.tr {
  width: fit-content;
  height: 30px;
}

th,
.th,
td,
.td {
  box-shadow: inset 0 0 0 1px lightgray;
  padding: 0.1rem 1rem;
}

th,
.th {
  position: relative;
  font-weight: bold;
  text-align: center;
  height: 30px;
}

td,
.td {

  height: 30px;
}

.resizer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.ltr {
  right: 0;
}

.resizer.rtl {
  left: 0;
}

.resizer.isResizing {
  background: blue;
  opacity: 1;
}

.table-actions-bottom{
  background-color: green;
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 10px 50px;
}
.table-page-buttons{
  display: flex;
  flex-direction: row;
}
.table-page-buttons > button{
  background-color: blue;
}
.table-page-label{
  display: flex;
  padding: 0 20px;
}

#page-size{
  display: flex;
  gap: 10px
}

.form-title{
  padding-left: 2rem;
}

.form-label{
  display: flex;
  align-items: center;
  gap: 10px;
}
.form-label > p{

  font-weight: 100;
}
.form-label > p.required{

  font-weight: 400;
}


.sam-form{
  background-color: white;
  border-radius: 20px;
  margin: 2rem;
}

form{
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 2rem 2rem 0;
}

.form-actions{
  display: flex;
  justify-content: end;
  gap: 2rem;
  padding-top: 2rem;
}

.text-field
{
  padding-left: 2rem;
}


.text-field > input
{
  max-width: 100%;
  box-sizing: border-box;
  flex-shrink: 1;
}
.text-field.hasError{
  box-shadow: inset 10px 0 0 var(--error);
}

.sam-text-field-info{
  display: flex;
  flex-direction: column;
  
}
.sam-text-field-label{
  font-weight: 600;
  font-size: 1.1rem;
  overflow-wrap: break-word;
}
.sam-text-field-helper-text{
  overflow-wrap: break-word;
  color:gray;
  padding: 0 0 0.5rem 0;
}
.sam-text-field-error-text{
  color: var(--error);
  font-weight: 500;
  padding: 0 0 0.5rem 0;
}

label.hasError{
  color: var(--error)
}

input{
  width: 100%;
  outline: none;
  border: 2px solid var(--bg-unfocused);
  border-radius: 5px;
  padding: 10px;
  font-size: 0.9rem;
  color: black;
  background-color: transparent;
}
input:hover{
  border-color: var(--uv-green);
}
input:focus{
  outline-style: solid;
  outline-color: var(--uv-green);
  outline-width: 0.25rem;
  outline-offset: -2px;
}
input.hasError{
  border: 2px solid var(--error);
}



.sam-message{
  display: flex;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--error);
  color: white;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




.flex-row{
  display: flex;
  flex-direction: row;
}
.align-items-center{
  align-items: center;
}