

#root {
  font-family: 'Open sans', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 0.07cap;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  /*border: 1px solid black;*/

  margin: 0px;
  padding: 0;
  background-color: aqua;

  --uv-gray-dark: rgb(181, 191, 201, 0.3);;
  --uv-gray-darker: rgb(181, 191, 201, 0.5);;
  --uv-gray: #fdfffe;
  --uv-green: #28AD56;
  --uv-blue: rgb(40, 90, 255);
  --uv-green-hover: rgb(32, 143, 71);
  --border: rgba(215, 223, 245, 4);
  --box-shadow-lower-solid: inset 0px -1px 0px 0px rgba(215, 223, 245, 4);
  --box-shadow-lower-solid2: inset 1px 1px 1px 0px rgba(215, 223, 245, 4);

  --hover: rgba(26, 26, 26, 0.068);
  --selected: rgba(40, 173, 86, 0.1);
  --bg-main: white;
  --error: rgb(232, 16, 63);
  --bg-unfocused: rgba(0, 0, 0, 0.5);
  --bg-hovered: rgba(40, 173, 86, 0.1);
  --bg-hovered2: rgba(28, 175, 79, 0.249);
  --disabled: rgba(129, 129, 129, 0.63);
  

  --dark: rgba(0, 0, 0, 0.7);

  background-color: var(--uv-gray);
}
  
h3{
  margin: 0;
}

.bg-gradient{
  color: white;
 background-image: linear-gradient(90deg, rgba(48,154,109,1) 0%, rgba(40,173,86,1) 100%);
}

.nav-link{
  display: flex;
  text-decoration: none;
  color: white;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.nav-link:hover{
  color: white;
  box-shadow: inset 0px -5px 0px 0px rgba(255,255,255,1);
}
.nav-link.selected{
  box-shadow: inset 0px -5px 0px 0px rgba(255,255,255,1);

}

footer{
  background-color: var(--dark);
}

#root{
  
}

.specie-view{
  flex-grow: 100;
  display: flex;
  flex-direction: column;
  width: 10%;
  max-height: 100%;
  height: 100%;
  overflow: auto;
  /*overflow: scroll;*/
}

.font-family-gill-sans{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.specie {
  /*
  background-color: white;
  */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding:  10px 20px;
  box-sizing: border-box;
  flex-grow: 2;
}




.specie-actions{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.5rem;
  padding-top: 30px;
  font-size: 0.7em;
}

.selectable{
  transition: background-color 0.05s;
}
.selectable2{
  transition: background-color 0.05s;
}

.rounded{
  border-radius: 100px;
}

.rounded-20{
  
  border-radius: 20px;
}

.selectable:hover {
  
  background-color: var(--bg-hovered);
  cursor: pointer;
  transition: background-color 0.05s;
}
.selectable2:hover {
  background-color: var(--bg-hovered2);
  cursor: pointer;
  transition: background-color 0.05s;
}

.selected {
  background-color: var(--selected);
}
.selected:hover {
  background-color: rgba(28, 175, 79, 0.249);
}


main{
  /*
  background-color: white;
  */
  
  
  display: flex;
  height: 100%;
  flex-direction: row;
  overflow: auto;
  /*border: 4px solid red;*/
}

.ellipsis{
  max-height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  /*width: 100%;*/
}

.bold{
  font-weight: 500;
}

.tab-panel{
  max-height: 100%;
}

.fold{
  position: relative;
  flex: 0;
}

.specie-list{
  display: flex;
  align-self: stretch;
  z-index: 10;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;

  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 0px 20px 20px 0;
}

.specie-list-items{
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

.test1{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: red;
  flex-wrap: wrap;
  overflow-wrap: normal;
}


.letter-spacing-0{
  letter-spacing: 0;
}



.caption{
  font-size: 0.9em;
  font-weight: 100;
  color: gray;
}

.icon{
  size: 1px;
}

.sam-button{
  padding: 5px 20px;
  font-family: inherit;
  display: flex;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: rgb(181, 191, 201, 0.3);
  transition: background-color 0.3s;
  width: fit-content;
  height: fit-content;
}
.sam-button.primary{
  color: var(--bg-main);
  background-color: var(--uv-green);
}
.only-icon{
  background-color: transparent;
  padding: 5px;
}
.sam-button.primary:hover{
  background-color: var(--uv-green-hover);
}
.sam-button.secondary{
  color: rgb(57, 65, 73);
  background-color: var(--uv-gray-dark);
  
}
.sam-button.secondary:hover{
  background-color: var(--uv-gray-darker);
  
}

.border{
  box-shadow:  inset 0px 0px 0px 1px var(--border);
}

.sam-button.danger:hover{
  background-color: var(--error);
  color: var(--bg-main);
}
.sam-button.disabled{
  background-color: var(--disabled);
  cursor: not-allowed;
}
.sam-button.disabled:hover{
  background-color: var(--disabled);
  cursor: not-allowed;
}
a.sam-button{
  color: inherit;
  text-decoration: inherit;
  
}

.action-bar{
  display: flex;
  justify-content: space-between;
  padding: 1em 20px;

  justify-content: space-between;
  
}
.specimens-actions > div:first-child{
  display: flex;
  gap: 10px
}




#especimenes{
  display: flex;
  flex-direction: column;

  height: 100%;
  
}

.stepper-circle{
  width: 2rem;
  height: 2rem;
  background-color: none;
  border: 1px solid var(--uv-green);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--uv-green);
}

.stepper-circle.selected{
  background-color: var(--uv-green);
  color: var(--bg-main);
  font-weight: 500;
}

.step > p.selected {
  font-weight: 500;
}

.stepper-line{
  border: 1px solid lightgray;
  padding: 0 30px;
  width: 0px;
}

.stepper{
  display: flex;
  gap: 10px;
}

.step {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}


.overflow-auto{
  overflow: auto;
}

.table-actions-bottom{
  
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  padding: 20px 50px;
}
.table {
  width: 100%;
  table-layout: auto;
}

.table th, .table td {
  width: 100%;
}

table{
  height: 100%;
  width: 100%;
  box-shadow: var(--box-shadow-lower-solid2);
  display: flex;
  flex-direction: column;
}

tbody{
  overflow: scroll;
}


.tr {
  display: flex;
}

tr,
.tr {
  width: 100%;
}

th,
.th,
td,
.td {
  flex-grow: 1;
  overflow:  hidden;
  padding: 0.65rem 1rem;
}

thead{
  background-color: var(--bg-main);
  
}

th,
.th {
  position: relative;
  font-weight: 600;
  text-align: start;
  overflow: hidden;
}

select {
  min-width: 100px;
  padding: 8px;
  border-radius: 20px;
  border: none;
  background-color: var(--uv-gray);
  color: #333;
  font-size: inherit;
  cursor: pointer;
}



tr{
  box-shadow: var(--box-shadow-lower-solid)

}

.resize-bar{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;

  background-color: var(--uv-blue);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.resize-bar:hover{
  opacity: 1;
}

.resizer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.ltr {
  right: 0;
}

.resizer.rtl {
  left: 0;
}

.resizer.isResizing {
  background: blue;
  opacity: 1;
}


.table-page-buttons{
  display: flex;
  flex-direction: row;
}
.table-page-buttons > button{
  background-color: blue;
}
.table-page-label{
  display: flex;
  padding: 0 20px;
}

#page-size{
  display: flex;
  gap: 10px
}

.form-title{
  padding-left: 2rem;

}




.sam-form{

  max-width: fit-content;
}

.input-group{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 30px;
}





.multigraph{
  min-height: 400px;
  max-height: 400px;
}

.card{
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  overflow: hidden;
}

.sam-text-field-label{
  font-weight: 600;
  font-size: 1rem;
  overflow-wrap: break-word;
}
.sam-text-field-helper-text{
  overflow-wrap: break-word;
  color:gray;
  padding: 0 0 0.5rem 0;
}
.sam-text-field-error-text{
  color: var(--error);
  font-weight: 500;
  padding: 0 0 0.5rem 0;
}

label.hasError{
  color: var(--error)
}

.searchbar{
  width: 100;
  border-radius: 50px 0 0 50px;
}
.searchbar-button{
  border-radius: 0 50px 50px 0;
}




.input{
  font-family: inherit;
  letter-spacing: inherit;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 0.9rem;
  color: black;
  background-color: transparent;
  height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background-color: var(--uv-gray-dark);
}
.input.has-icon{
  padding-left: 50px;

}

.icon-only{
  padding: 5px 10px;
  background-color: transparent;
}

.icon-only:hover{
  background-color: var(--uv-gray-darker);
}

input{
  
}
input:hover, .input:hover{
  background-color: var(--uv-gray-darker);

}
input:focus, .input:focus{
  
  border: 1px solid rgba(40, 173, 86, 0.8);;
}
input:disabled{
  cursor: not-allowed;
  background-color: var(--uv-gray-dark);
}

.small{
  font-size: 0.8rem;
}

input:focus, .input:focus{
  outline-style: solid;
  outline-color: var(--uv-blue);
  outline-width: 0.25rem;
  outline-offset: -2px;
}
.input.hasError{
  border: 2px solid var(--error);
}

h2{
  margin: 0;
}


.sam-message{
  display: flex;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--error);
  color: white;
}

.snackbar{
  background-color: var(--dark);
  color: white;
  width: fit-content;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 10px 10px 10px;
  margin: 30px 30px;
  border-radius: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 10000;
}

.error{
  background-color: var(--error) !important;
}
.notice{
  background-color: rgb(200, 220, 239) !important;

}

.snackbar > div{
  display: flex;
  align-items: center;
  gap: 10px;
}

.invisible{
  opacity: 0;
  visibility: hidden;
  z-index: -1000;
}

.visible{
  
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease;
}
.select-list{
  max-height: 300px;
  overflow: auto;
}
#stepper-vertical{
  position: absolute;
  display: inline-flex;
  background-color: red;
  flex-direction: column;
  gap: 2rem;
}

.modal-content{
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: fit-content;
  background-color: white;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  right: 0;
  bottom: 0;
}

.modal-body{
  overflow: auto;
  height: fit-content;
}

.modal-background{
  transition: opacity 0.3s ease;
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100vh; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.5);

}

.tab{
  padding: 1rem;
  min-width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.selected-tab{
  border-bottom: 3px solid var(--uv-green);
  font-weight: 600;
}

.shadow-down{
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
.shadow-right{
  box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.2);
}

.selectlist-item{
  background-color: red;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.position-sticky{
  position: sticky;
}

.position-relative{
  position: relative !important;
}
.position-absolute{
  position: absolute !important;
}

.bottom-0{
  bottom: 0;
}
.top-0{
  top: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.list-actions{
  position:  absolute;
  


  min-width: fit-content;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  max-height: 40px;
}

input[type='checkbox']{
  cursor: pointer;
  
  width: 40px;
  padding: 10px;
}

.hoverable{
  position: relative; 
  text-align: center;
  display: flex;
  justify-content: start;
}

.hoverable-actions{
  display: none;
  position: absolute;
  color: white;
  border-radius: 50px;
  background-color: white;
  text-align: center;
  right: 0;
  height: fit-content;
  gap: 5px;
  margin-right: 30px;
  padding: 0 1px;
  box-shadow: 12px 11px 38px -14px rgba(0,0,0,0.5);
}

.hoverable:hover .hoverable-actions, .hoverable2:hover .hoverable-actions{
  display: flex; 
}

.hoverable2:hover .show-on-hover{

  display: flex !important; 
}

.row-actions{
  
  position: absolute;
  right: 0;
  margin-right: 10px;
  min-width: fit-content;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  max-height: 40px;
}



.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-grow-1{
  flex-grow: 1;
}

.gap-1rem{
  gap: 1rem;
}
.gap-2rem{
  gap: 2rem;
}
.gap-05rem{
  gap: 0.5rem;
}

.font-size-1rem{
  font-size: 1rem;
}

.font-weight-500{
  font-weight: 500;
}

h1{
  font-size: clamp(1.5rem, 1vw + 1.5rem, 3rem);
  font-weight: 500;
  text-align: center;
  letter-spacing: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}

.position-relative{
  position: relative;
}
.position-absolute{
  position: relative;
}

.m-1rem{
  margin: 1rem;
}
.p-1rem{
  padding: 1rem;
}

.ptop-2rem{
  padding-top: 2rem;
}

.p-05rem{
  padding: 0.5rem;
}
.p-2rem{
  padding: 2rem;
}
.p-2px{
  padding: 2px;
}

#stepper{
  position: inherit;
}

.test4{
  
}

.flex-col{
  display: flex;
  flex-direction: column;
}


.fullwidth{
  width: 100%;
}


.pointer{
  cursor: pointer;
}

/*UTILITY*/

.divider{
  box-shadow: var(--box-shadow-lower-solid);
}

.bg-main{
  background-color: var(--bg-main);
}

.box-shadow{
  box-shadow: 12px 11px 38px -14px rgba(0,0,0,0.5);
}

.dropdown {
  position: relative;
}

.button-row{
  gap: 1rem;
  padding-top: 3rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.ellipsis{

}

a{
  text-decoration: none;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  min-width: 250px;
  max-height: 40vh;
  overflow: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.w-100{
  width: 100%;
}
.w-0{
  width: 0 !important;
}
.w-fit-content{
  width: 0 !important;
}
.h-100{
  height: 100%;
}
.h-fit-content{
  height: fit-content;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.border-black{
  border: 1px solid black;
}

.landing-search{
  display: flex;
  flex-direction: column;
  background-color: blue;
  padding: 15% 20% 10rem 20%;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.33);
}

.nav-input::placeholder{
  color: white;
}
.nav-input{
  background-color: transparent;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.75);
  color: white;
}

.color-white{
  color: white;
}
.color-gray{
  color: gray;
}
.color-lightgray{
  color: lightgray;
}
.color-uv-green{
  color: var(--uv-green)
}
.color-error{
  color: var(--error);
}

nav{
  z-index: 20;
  
  
  display: flex;
  flex-direction: row;

  align-items: center;

}

.page-padding {
  padding-left: clamp(20px, 10vw, 600px);
  padding-right: clamp(20px, 30vw, 600px);
  
}

.landing{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.text-wrap{
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.img-container{
  width: 100%; 
  height: 500px;
  position: relative;
  overflow: hidden;
}

.photosheet-gallery{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.photosheet-description{
  height: 45px;
  transition: height 0.2s ease-in-out;
}

.photosheet {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

.photosheet-description:hover{
  height: 160px !important;
}
.photosheet-wrapper{
  min-height: 300px;
}


.landing-search> div:first-child{
  align-items: center;
  margin: 0;
}
.landing-search> div:first-child> span{
  background-color: red;
  width: 10%;
  height: 100%;
  display:flex;
}
.landing-system-name{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  margin: 0;
  font-size: clamp(0.8rem, 1vw + 0.8rem, 3rem);
  line-height: clamp(0.5rem, 1vw + 0.8rem, 1.8rem);
}

.landing-tag{
  font-size: clamp(1.8rem, 2vw + 1rem, 5rem);
  line-height: clamp(1.5rem, 2vw + 1rem, 3rem);
  margin: 0;
}

.no-select{
  user-select: none;
}

.taxonomy{
  font-size: clamp(0.8rem, 0.5vw + 1rem, 1.1rem);
  flex-wrap: wrap;
}
.rank{
  font-size: ;
}

.justify-content-space-between{
  justify-content: space-between;
}
.justify-content-right{
  justify-content: right;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-end{
  justify-content: end;
}
.align-items-center{
  align-items: center;
}
.align-items-end{
  align-items: end;
}

.hide-if-desktop{
  display: none;
}

.recharts-wrapper{
  min-height: fit-content;
  display: flex;
  max-height: 100%
}

.recharts-responsive-container{
  
  min-height: fit-content !important;
}

.recharts-surface{
  display: flex;
  max-width: 100%;
}

.multigraph-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bg-white{
  background-color: white;
}
.bg-darkgray{
  background-color: var(--uv-gray);
}
.bg-white-transparent{
  background-color: rgba(255, 255, 255, 0.92);
}


.bg-black-transparent{
  background-color: var(--dark);
}

.page{
  padding: 0 300px;
}


@media only screen and (max-width: 900px) {

  .multigraph-wrapper{
    grid-template-columns: repeat(1, 1fr);
  }

  .photosheet-gallery{
    
    grid-template-columns: repeat(2, 1fr);
  }  

  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .page{
    padding: 0 100px;
  }
}
@media only screen and (max-width: 900px) {

  .page-padding {
    padding-left: clamp(10px, 10vw, 700px);
    padding-right: clamp(10px, 10vw, 700px);
  }

  .photosheet-gallery{
    
    grid-template-columns: repeat(1, 1fr);
  } 
  .page{
    padding: 0;
  }
  .sam-form {
    
    max-width: 100%;
  }

  .hide-if-mobile{
    display: none;
  }
  .flex-if-mobile{
    display: flex;
  }

  .landing-search{
    padding: 5%;
    min-height: 80%;
    justify-content: center;
  }

  .grid{
    grid-template-columns: repeat(1, 1fr);
  }

  .specie-list{
    position: absolute;
    background-color: var(--bg-main);
    box-shadow: 12px 11px 38px -14px rgba(0,0,0,0.5);
  }

}

.progress-bar {
  height: 5px;
  background-color: var(--uv-gray);
  width: 100%;
  overflow: hidden;
}

.progress-bar-value {
  width: 100%;
  height: 100%;
  background-color: var(--uv-green);
  animation: indeterminateAnimation 1s infinite linear;
  transform-origin: 0% 50%;
}
.progress-bar.main{
  position: absolute;
  bottom: 0;
}

@keyframes indeterminateAnimation {
  0% {
    transform:  translateX(0) scaleX(0);
  }
  40% {
    transform:  translateX(0) scaleX(0.4);
  }
  100% {
    transform:  translateX(100%) scaleX(0.5);
  }
}