:root {
  overflow: hidden;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: max(1.2rem, 16px);

  color-scheme: light dark;
  color: rgba(51, 51, 51, 0.87);
  background-color: #e0e2f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}



p{
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav{
  z-index: 20;
  box-shadow:  2px 0 5px black;
  padding: 5px 40px;
  
  background-color: var(--uv-green);
  
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input[type="search"]{
  padding: 10px 30px;
  width: 40%;
  margin: 0;
  border-radius: 10px;
  
  border: none;
  color: inherit;
  transition: background-color 0.1s;
  border: 1px solid var(--uv-gray-dark);
}
input[type="search"]:hover{
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(40, 173, 86, 0.5);
}
input[type="search"]:focus{
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(40, 173, 86, 0.8);;
}

th{
  /*
  background-color: white;
  */
  padding: 0px 20px;
  font-size: 0.8em;
}



/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
  border: 2px olid inherit;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
